{{extend 'layout2.html'}}
<link href="{{=URL('static','css/elections.css')}}" rel="stylesheet" type="text/css"/>
<div class="container max900">
  <div class="fill">
    <div class="padded">

      <h2>My Elections</h2>

      <span id="tab-1">Vote</span>
      <span id="tab-2">Manage Election</span>
      <span id="tab-3">Ended Election</span>

      <div id="tab">
        <ul>
            <li><a href="#tab-1">Vote</a></li>
            <li><a href="#tab-2">Manage Election</a></li>
            <li><a href="#tab-3">Ended Election</a></li>
            <li id="new_elc_btn">
              {{=A(T('Create Election'),_href=URL('edit'),_class="btn")}}
              {{pass}}        
            </li>
        </ul>

        <div class="tab-content-1">
          {{if ballots:}}
          <h4>Elections requiring your vote</h4>
          <table class="fill">
            {{for ballot in ballots:}}
            <tr>
              <td>
                <i class="icon-folder-close"></i>
                {{if ballot.voter.voted:}}
                  {{="(voted)"}}
                {{pass}}
                {{=ballot.election.title}} ({{=ballot.election.id}})
              </td>
              <td>
                Created on {{=ballot.election.created_on}}
              </td>
              <td>
                <a class="btn" style="float:right" href="{{=URL('vote',args=(ballot.election.id,ballot.voter.voter_uuid))}}">Vote</a>
                <a class="btn" style="float:right" href="{{=URL('ballots',args=(ballot.election.id))}}">Ballots</a>
              </td>
            </tr>
            {{pass}}
          </table>
          {{else:}}
          <h4>No elections require your vote</h4>
          {{pass}}
        </div>

        <div class="tab-content-2">
          {{if elections:}}
          <h4>Elections managed by you</h4>
    
          <table class="fill">
            {{for election in elections:}}
            <tr>
              <td>
                <i class="icon-folder-close"></i> {{=election.title}}
                {{if election.started:}}
                <span class="election-closed"> </span>
                {{else:}}
                <span class="election-open"> </span>
                {{pass}}
              </td>
              <td>
                Created on {{=election.created_on}}
              </td>
              <td>
                {{if election.closed:}}(closed)
                {{elif election.started:}}(started){{pass}}
              </td>
              <td class="right">
                <ul class="menu">
                  <li><a class="btn">Action ▼</a>
                    <ul>
                {{if not election.started:}}
                {{=LI(A(I(_class='icon-edit'),' ',T('Edit Election'),_href=URL('edit',args=election.id)))}}
                {{=LI(A(I(_class='icon-play-circle'),' ',T('Start Election'),_href=URL('start',args=election.id)))}}
                {{=LI(A(I(_class='icon-play-circle'),' ',T('Delete Election'),_href=URL('delete_election',args=election.id)))}}
    
                {{elif not election.closed:}}
                {{=LI(A(I(_class='icon-folder-open'),' ',T('Ballots'),_href=URL('ballots',args=election.id)))}}
                {{=LI(A(I(_class='icon-envelope'),' ',T('Send Reminder'),_href=URL('reminders',args=election.id)))}}
                {{=LI(A(I(_class='icon-off'),' ',T('Close Election'),_href=URL('close_election',args=election.id)))}}
    
                {{else:}}
                {{=LI(A(I(_class='icon-folder-open'),' ',T('Ballots'),_href=URL('ballots',args=election.id)))}}
                {{=LI(A(I(_class='icon-list'),' ',T('Results'),_href=URL('results',args=election.id)))}}
                {{=LI(A(I(_class='icon-download'),' ',T('CSV Voters'),_href=URL('voters_csv.csv',args=election.id)))}}
                {{pass}}
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {{pass}}
          </table>
          {{else:}}
          <h4>There are no elections managed by you</h4>
          {{pass}}
        </div>

        <div class="tab-content-3">
          <h4>Ended Elections </h4>
          {{if ballots:}}
          <table class="fill">
            {{for ended_election in ended_elections:}}
            <tr>
              <td>
                <i class="icon-folder-close"></i>
                {{if ended_election.voter.voted:}} {{="(voted)"}} {{pass}}
                {{=ended_election.election.title}} ({{=ended_election.election.id}})
              </td>
              <td>
                Created on {{=ended_election.election.created_on}}
              </td>
              <td>
                <a class="btn" style="float:right" href="{{=URL('ballots',args=(ended_election.election.id))}}">Ballots</a>
                <a class="btn" style="float:right" href="{{=URL('results',args=(ended_election.election.id,ended_election.voter.voter_uuid))}}">Result</a>
              </td>
            </tr>
            {{pass}}
          </table>
          {{pass}}
        </div>
    </div>

    </div>
  </div>
</div>


