{{extend 'layout.html'}}



<div id="wrapper" class="divided">
  <section class="banner1">

    <div class="content">
      <h1>Anonymous Voting</h1>
      <p class="major">This is a an annonymous system that can build a online election and ....XXXXXXXXXXXXXXXX</p>
      <h5>
        <ul class="actions vertical" id="test">
          <li><a href=#user_auth class="button big wide smooth-scroll-middle", style="color:black;">Get Started</a></li>
        </ul>
      </h5>
    </div>

    <div class="image" >
      <ul class="menu right" style="margin-right:50px; margin-top:15; color: black;" >
        <li >
          {{=auth.navbar(mode='dropdown')}}
        </li>
      </ul>
    </div>
  </section>

  <section class="banner2" id="user_auth">
      <div class="auth_button_div">
        <div class="icon0">
          <h3>Try Now!</h3>
          <div class="useful_button">
            <button class="img_button" role="button" onclick="window.location.href='elections.html'">Go Election</button>
          </div>
          <div class="useful_button">
            <button class="img_button" role="button" onclick="window.location='/evote/default/user/register?_next=/evote/default/index;'">Create Account</button>
          </div>
        </div>
      </div>

      <div class="auth_button_div" id="auth_button_1">
        <div class="icon1" >
          <h3>WorkFlow</h3>
          <div class="icon1_content">
            <p>Here are some user guide and workflow of this annonymous voting system, where will describe how to use this system</p>
          </div>
          <div class="useful_button">
            <button class="img_button" role="button" onclick="window.location.href='workflow.html'">Learn More</button>
          </div>
        </div>
      </div>
      <div class="auth_button_div" id="auth_button_2">
          <div class="icon2">
            <h3>Dev Info</h3>
            <div class="icon2_content">
                <p>author:b07505035</p>
                <p>author:b07505035</p>
                <p>author:b07505035</p>
                <p>author:b07505035</p>

            </div>
            <div class="useful_button">
              <button class="img_button" role="button" onclick="window.location.href='https://github.com/tim20010803/evote'">Source Code</button>
            </div>
          </div>
      </div>

      

  </section>

</div>



