{{extend 'layout2.html'}}
<style>
  html {
    scroll-behavior: smooth;
  }
  .tutorial_menu_cell {
    width: 25%;
    padding-left: 0.5rem;
    float:left;
  }
  .tutorial_img {
    padding-top:5px ;
    padding-bottom: 5px;
  }
</style>
<span  id="gotop"></span>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h2 id="tutorial">Tutorial</h2>
      <div class="header_menu" style=" padding-top:15px;padding-bottom: 15px;">
        <div class="tutorial_menu_cell">
          <button class="menu_button" role="button" onclick="window.location.href='#account'">Create Account</button>
        </div>
        <div class="tutorial_menu_cell">
          <button class="menu_button" role="button" onclick="window.location.href='#election'">Create Election</button>
        </div>
        <div class="tutorial_menu_cell">
          <button class="menu_button" role="button" onclick="window.location.href='#vote'">Ballot and Vote</button>
        </div>
        <div class="tutorial_menu_cell">
          <button class="menu_button" role="button" onclick="window.location.href='#verify'">Ballot Verification</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h4 id="account"><a href=#tutorial style="color: black;">Create Account</a></h4>
      <p>進入首頁後，可點選Get Started開始，或點選右上進行使用者登入</p>
      <img class="tutorial_img" src={{=URL('static', 'images/homepage_001.png')}}>
      <p>在建立選舉前，須先建立帳號</p>
      <img class="tutorial_img" src={{=URL('static', 'images/homepage_002.png')}}>
      <p>在按下signup後，系統會寄送驗證信至所填寫的信箱</p>
      <img class="tutorial_img" src={{=URL('static', 'images/signup.png')}}>
      <img class="tutorial_img" src={{=URL('static', 'images/signupemail.png')}}>
      <p>至郵件中點選驗證連結即完成註冊!</p>
      <img class="tutorial_img" src={{=URL('static', 'images/mailverify.png')}}>

      <h4 id="election"><a href=#tutorial style="color: black;">Create Election</a></h4>
      <p>註冊完成並登入後，便可看到管理介面</p>
      <p>點選Vote、Manage Election、Ended Election即可切換至各類選舉</p>
      <p>點選Create Election即可建立新的選舉</p>
      <img class="tutorial_img" src={{=URL('static', 'images/manage_002.png')}}>
      <img class="tutorial_img" src={{=URL('static', 'images/election_1.png')}}>
      <p>最後按下Save and Preview按鈕後，便可儲存選舉資訊，並可決定是否開始選舉</p>
      <img class="tutorial_img" src={{=URL('static', 'images/election_2.png')}} style="border-style:solid;border-width: 1px;">

      <h4 id="vote"><a href=#tutorial style="color: black;">Ballot and Vote</a></h4>
      <p>選票預覽樣式。當創建選舉者按下開始選舉後，選舉便會開始</p>
      <img class="tutorial_img" src={{=URL('static', 'images/ballotformat.png')}}>
      <p>投票者可透過mail中的選舉連結或是管理介面中的投票按鈕進行投票</p>
      <img class="tutorial_img" src={{=URL('static', 'images/ballot2vote.png')}}>
      <p>投票畫面</p>
      <img class="tutorial_img" src={{=URL('static', 'images/voting.png')}}>
      <p>當投完票後，投票者畫面會顯示選票已被紀錄</p>
      <img class="tutorial_img" src={{=URL('static', 'images/endedvote.png')}}>
      <p>在選舉管理介面，也可觀察到選票已投票的記錄</p>
      <img class="tutorial_img" src={{=URL('static', 'images/viewallballots.png')}}>
      <p>由於選舉尚未結束，每張選票還不能進去驗證</p>
      <img class="tutorial_img" src={{=URL('static', 'images/ballotcantseen.png')}}>
      <p>當選舉結束，投票者可透過mail連結或管理介面觀看選舉結果</p>
      <img class="tutorial_img" src={{=URL('static', 'images/electionfinalresult.png')}}>

      <h4 id="verify"><a href=#tutorial style="color: black;">Ballot Verification</a></h4>
      <p>當選舉結束，每個人都能進入選票介面，觀察選票紀錄</p>
      <img class="tutorial_img" src={{=URL('static', 'images/ballotresultcontent.png')}}>
      <p>點選Verify Ballot，即可對選票結果與簽證進行檢驗</p>
      <img class="tutorial_img" src={{=URL('static', 'images/ballotv1.png')}}>
      <img class="tutorial_img" src={{=URL('static', 'images/ballotv2.png')}}>

    </div>
  </div>
</div>





<h6 id="side_account"><a href="#account"style="position: fixed;top: 100px;right:40px;color: rgb(61, 60, 60);">Create Account</a></h6>
<h6 id="side_election"><a href="#election" style="position: fixed;top: 120px;right:40px;color: rgb(61, 60, 60);">Create Election</a></h6>
<h6 id="side_vote"><a href="#vote" style="position: fixed;top: 140px;right:40px;color: rgb(61, 60, 60);">Ballot and Vote</a></h6>
<h6 id="side_verify"><a href="#verify" style="position: fixed;top: 160px;right:40px;color: rgb(61, 60, 60);">Ballot Verification</a></h6>


<a href="#gotop" >
  <button class="menu_button"  id="gootop" role="button"  style="position: fixed;bottom: 60px;right:40px;width:5%">Top</button>
</a>

<script>
  $(function () {
      $(function(){
          $(window).scroll(function(){
              if($(window).scrollTop() > 200){
                  $("#gootop").fadeIn(1000);//一秒漸入動畫
                  $("#side_account").fadeIn(1000);
                  $("#side_election").fadeIn(1000);
                  $("#side_vote").fadeIn(1000);
                  $("#side_verify").fadeIn(1000);
              }else{
                  $("#gootop").fadeOut(1000);//一秒漸隱動畫
                  $("#side_account").fadeOut(1000);
                  $("#side_election").fadeOut(1000);
                  $("#side_vote").fadeOut(1000);
                  $("#side_verify").fadeOut(1000);
              }
          });
      });
  });
</script>