<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    {{include "web2py_ajax.html"}}
  </head>
  <body class="black">   
    <header class="padded" style="height: 10%;">
      <ul class="menu right" style="margin-right:50px; margin-top:15; color: black;" >
        <li >
          {{=auth.navbar(mode='dropdown')}}
        </li>
      </ul>
      <div class="header_menu" style="margin-top:15;">
        <a href="{{=URL('default','index.html')}}" >Home</a>
      </div>
    </header>
    <main class="white" style="background-color: gray;">
      {{include}}
    </main>
     <footer class="black">
      <div class="silver center padded social" style="background-color: black;">
        <a href="{{=URL('default','workflow.html')}}">WorkFlow</a>
        <a href="">Source code</a>
      </div>
    </footer> 
  </body>  

  <script src="{{=URL('static','js/jquery-sortable.js')}}"></script>
  <script src="{{=URL('static','js/evote.js')}}"></script>  
  <script>
    jQuery('.social a').each(function(){var t=jQuery(this); t.attr('href',t.attr('href').replace('{url}',encodeURIComponent(window.location.href)));});
  </script>
</html>
