<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/layout2.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    {{include "web2py_ajax.html"}}
  </head>
  <body class="black">
    {{if response.flash:}}
    <div class="w2p_flash">
      {{=response.flash}}
    </div>
    {{pass}}
    <div class="header_menu" style=" padding-top:15px">
      <div class="header_menu_cell">
        <button class="menu_button" role="button" onclick="window.location.href='{{=URL('default','index.html')}}'">Home</button>
      </div>
      <div class="header_menu_cell">
        <button class="menu_button" role="button" onclick="window.location.href='{{=URL('default','elections.html')}}'">Manage</button>
      </div>
      <div class="header_menu_cell">
        <button class="menu_button" role="button" onclick="window.location.href='{{=URL('default','workflow.html')}}'">Workflow</button>
      </div>
    </div>
    <header class="padded" style="height: 8%;">
      <ul class="menu right" style="margin-right:50px; margin-top:5;  color: black;" >
        <li >
          {{=auth.navbar(mode='dropdown')}}
        </li>
      </ul>
    </header>
    <main class="white" style="background-color: gray; padding-bottom: 5%;">
      {{include}}
    </main>
     <footer class="black">
      <div class="silver center padded social" style="background-color: black; height:5% ;">
        <div class="footer_content" >
          <p><a href="https://github.com/tim20010803/evote">Source code</a>  
            author: b07505035 author: b07505035 author: b07505035 author: b07505035</p>
        </div >
        
      </div>
    </footer>
  </body>

  <script src="{{=URL('static','js/jquery-sortable.js')}}"></script>
  <script src="{{=URL('static','js/evote.js')}}"></script>
  <script>
    jQuery('.social a').each(function(){var t=jQuery(this); t.attr('href',t.attr('href').replace('{url}',encodeURIComponent(window.location.href)));});
  </script>
</html>
